name: CI
on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

jobs:
  nph:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Check `nph` formatting
        uses: arnetheduck/nph-action@v1
        with:
          version: 0.6.1
  build:
    uses: ./.github/workflows/common.yml
    with:
      nim-versions: '["version-2-0", "version-2-2", "devel"]'
      test-command: |
        nimble --version
        nimble install -y
        nimble test
